@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://rsms.me/inter/inter.css');


body {
	font-family: "Inter", serif;
}

a:link, a:visited {
	text-decoration: none
}